@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.search-bar {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1.4px solid rgb(16, 22, 124, 0.5);
  border-bottom: 1.4px solid rgb(16, 22, 124, 0.5);
  width: 100%;
  /* justify-content: space-evenly; */
  text-align: left;
  gap: 10%;
}

.search-bar input {
  padding: 10px;
  border: none;
  font-size: 1.2rem;
  font-family: "Manrope", sans-serif !important;
  background-color: transparent;
  flex: 1;
  color: black;
  text-align: center;
}
/* Increase text size */
.search-bar input:focus {
  outline: none;
  border: none;
  font-size: 1.8rem;
  font-family: "Manrope", sans-serif !important;
  transition: all 0.3s ease-in-out;
  justify-self: center;
  text-align: center;
}
.search-bar input::placeholder {
  color: black; /* Dark gray, or choose any color */
  opacity: 1; /* Ensure it's fully opaque (default is often lower) */
  font-family: "Manrope", sans-serif !important;
  font-size: 1.2rem;
}

.filter-item {
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
  opacity: 1;
  max-height: 50px; /* Adjust height as needed */
  transition: opacity 0.6s ease, max-height 0.6s ease; /* Slower transition */
  display: block; /* Ensure it's shown initially */
  font-size: 1.2rem;
}
.filter-item.hidden {
  opacity: 0;
  max-height: 0;
}

/* active underline for filter item */
.filter-item.active {
  border-bottom: 3px solid rgb(16, 22, 124, 0.5); /* Adding visible tick line */
}

.filter-item:hover {
  cursor: pointer;
  color: #10167c;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr;
  font-family: "Manrope", sans-serif !important;
  gap: 65px;
}

/* .gallery > .col-4 {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
.col-4 {
  /* column-span: 3; */
  min-width: 300px;
}

/* Contain Image to be  250 by 250 */
.col-4 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

.flex {
  display: flex;
}

/* Allow one row of characters */
.title {
  font-size: 24px;
  font-weight: 800;
  font-style: bold;
  line-height: 1.3;
  letter-spacing: -0.7;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;

  background-image: linear-gradient(to right, #000000, #c1c1c1);

  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}
.price {
  position: absolute;
  top: 15px;
  right: 0px;
  font-weight: 200;
  font-size: 14px;
}
.title-price {
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
}

.deliver-method {
  justify-content: space-between;
  line-height: 1.8;
  letter-spacing: -0.3;
  font-size: 14px;
  font-weight: 200;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.gallery-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #10167c;
  color: #fff;
  border: none;
  min-width: 150px;
  transition: background-color 0.3s;
}

.gallery-btn:hover {
  background-color: #4b52cc;
}

.gallery-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.learn-more-link {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.learn-more {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.5;
  letter-spacing: -0.3;
  font-size: 16px;
}

.learn-more-link:hover {
  color: #10167c;
}

.chevron {
  font-size: 1.5rem;
}

.border-top {
  border-top: 1px solid rgb(16, 22, 124, 0.5);
}

.border-bottom {
  border-bottom: 1px solid rgb(16, 22, 124, 0.5);
}

.mt-3 {
  margin-top: 5px;
}

.mb-3 {
  margin-bottom: 5px;
}
/* Cut text off if it is more than 90 characters */
.quick-description {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 40px;
  /* font thin light */
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 10px;
  /* line-height: 1.8; */
  /* letter-spacing: -0.3; */
}

/* media screen */
@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .search-bar {
    flex-direction: row;
  }
}
